.image-uploader-main {
  width: 44rem;
  padding-left: 2rem;
  padding-right: 2rem;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @media screen and (max-width: 575px) {
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
  }
}
